<!DOCTYPE html>
<html ng-app="manoApsas">
<head>
    <title>Pirmasis puslapis</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/meniu.css">
</head>
<body ng-cloak>
<div class="container">
    <div class="content">





        <nav ng-controller="menuController as mc">
            <div class="pervidury">
                <div>
                    <ul>
                        <li ng-repeat="item in mc.meniu" >



                            <a href="{{item.adresas}}"  ng-if="!item.submeniu" >{{item.pavadinimas}}</a>

                            <ul ng-if="item.submeniu">
                                <li ng-repeat="it2 in item.submeniu" >
                                    {{it2.pavadinimas}}
                                </li>
                            </ul>


                        </li>
                    </ul>
                </div>
            </div>
        </nav>







        <div class="info">

            <h1>{{ vardas }}, pasirinko {{auto}}</h1>
            <br/>
            <br/>

            <form>
                <input name="pirmas" type="text" ng-model="meniu[0].pavadinimas" /><br/>

                <input name="vardas" type="text" ng-model="vardas" ng-init="vardas='Testas'"/><br/>


                <select name="cars" ng-model="auto">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select><br/>

                <textarea name="message" rows="5" cols="10"></textarea><br/>

                <button name="vardas" type="submit">Click Me!</button><br/>
                <input name="vardas" type="submit" value="No Click Me!"/><br/>
                <a type="submit" href="#">No NO Click Me!!!</a>

            </form>
        </div>
        <footer>
            <div></div>
            Visos teises saugomos &copy; 2018
        </footer>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/js/angular_failai/manoApsas.js"></script>

</body>
</html>